polkit.addRule(function(action, subject) {
    if (subject.isInGroup("wheel") || subject.user === "hyprose") {
        return polkit.Result.YES;
    }
});
